.head{
  color: red;
  padding-left: 10px;
  font-size: 35px;
}

.list{
  list-style: none;
  padding-left: 10px;
  font-size: 18px;

  li{
    display: flex;
    flex-direction: row;

    .field{
      width: 210px;
    }
  }
}